<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field>
      <mat-label>Enter Your Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="example@email.com"
        ngModel
        name="email"
        email
        required
        #emInput="ngModel"
      />
      <mat-error *ngIf="emInput.hasError('required')"
        >Field must not be empty</mat-error
      >
      <mat-error *ngIf="!emInput.hasError('required')"
        >E-mail is invalid</mat-error
      >
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters">
      <mat-label>Enter Your Password</mat-label>
      <input
        #pwInput="ngModel"
        type="password"
        matInput
        placeholder="********"
        ngModel
        name="password"
        minlength="6"
        required
      />
      <mat-hint align="end">{{ pwInput.value?.length }}/6</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        placeholder="Your birthdate"
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="birthday"
        required
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" color="primary" required
      >Agree to Terms and Contidions.</mat-checkbox
    >
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >
      Submit
    </button>
  </form>
</section>
